.modal {
    &-background {
        animation: fadeIn 0.3s ease-in;
    }

    z-index: 9;
    &-content {
        position: fixed !important;
        margin: 0 !important;
        width: 100%;

        &.center {
            top: auto;
            right: auto;
        }

        &.bottom {
            bottom: 0;
            animation: fadeInFromBottom 0.3s ease-in;
        }
    }
}

@keyframes fadeInFromBottom {
    from {
        opacity: 0;
        transform: translateY(200%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
