.w-100 {
    width: 100%;
}

.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}
.justify-space-around {
    justify-content: space-around;
}
.justify-space-between {
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.position-fixed {
    position: fixed;
}

.top-0 {
    top: 0em;
}

.left-0 {
    left: 0;
}
.right-0 {
    right: 0;
}
.bottom-0 {
    bottom: 0;
}
