@import '../../node_modules/bulma/sass/utilities/initial-variables.sass';
@import '../../node_modules/bulma/sass/utilities/derived-variables.sass';

:root {
    --Violet: rgb(175, 56, 235);
    --BerryRed: rgb(184, 37, 95);
    --Red: rgb(219, 64, 53);
    --Orange: rgb(255, 153, 51);
    --Yellow: rgb(250, 208, 0);
    --OliveGreen: rgb(175, 184, 59);
    --LimeGreen: rgb(126, 204, 73);
    --Green: rgb(41, 148, 56);
    --MintGreen: rgb(106, 204, 188);
    --Teal: rgb(21, 143, 173);
    --SkyBlue: rgb(20, 170, 245);
    --LightBlue: rgb(150, 195, 235);
    --Blue: rgb(64, 115, 255);
    --Grape: rgb(136, 77, 255);
    --Violet: rgb(175, 56, 235);
    --Lavender: rgb(235, 150, 235);
    --Magenta: rgb(224, 81, 148);
    --Salmon: rgb(255, 141, 133);
    --Charcoal: rgb(128, 128, 128);
    --Grey: rgb(184, 184, 184);
    --Taupe: rgb(204, 172, 147);
}

$family-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$primary: #2b70fd;
